.listContainer {
  padding: var(--v-space) 0;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 25px;
}

.card {
  display: block;
  & img {
    border-radius: 5px;
    aspect-ratio: 2/3;
  }
  & h3 {
    /* 16 / 768 (ipad) *100 = 2vw*/
    font-size: clamp(12px, 2vw, 20px);
    min-height: 0vw;
  }
  & p {
    /* 12 / 768 (ipad) *100 = 1.6vw*/
    font-size: clamp(10px, 1.6vw, 14px);
    margin-top: 0;
  }
}
