.listContainer {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 25px;
}

.card {
  display: block;
  & img {
    border-radius: 5px;
    aspect-ratio: 2/3;
  }
  & h3 {
    font-size: clamp(12px, 2wv, 20px);
    min-height: 0vw;
    color: yellow;
  }
  & p {
    font-size: clamp(10px, 1.6vw, 14px);
    margin-top: 0;
    color: yellow;
  }
}
