.header {
  height: 90px;
  background-color: black;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.logo {
  & > span {
    color: yellow;
    font-size: 1.8em;
    font-weight: 700;
    &:hover {
      color: greenyellow;
    }
  }
}
.navbtn {
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: yellow;
  font-size: 1.8em;
  &:hover {
    color: greenyellow;
  }
}
.searchContainer {
  width: 400px;

  & .searchInput {
    width: 100%;
  }
}
