@mixin display-child($n) {
  @for $i from 2 through $n {
    &:nth-child(#{$i}) {
      a {
        display: inline-block;
      }
    }
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
  display: inline;
  padding-left: 0px;
}

li {
  &:hover {
    span {
      color: yellowgreen;
    }
  }
  &.active {
    span {
      color: white;
    }
  }
}
