.pagination {
  margin: 3rem 0;
  display: flex;
  justify-content: space-between;

  button {
    cursor: pointer;
    width: 3rem;
    height: 2rem;
    background-color: var(--v-baseColor);
    border: none;
    border-radius: 5px;
    &:disabled {
      cursor: default;
      background-color: var(--v-gray);
      color: yellow;
    }
  }
  h5 {
    color: var(--v-baseColor);
    text-align: center;
  }
}
