.searchListContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.searchListWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

@media screen and (min-width: 1024px) {
  .searchListWrapper {
    grid-template-columns: repeat(4, 25%);
  }
}
