.searchPageContainer {
  padding: var(--v-space) 0;
}

.contentWrapper {
  padding: var(--v-space) 0;
  display: flex;
  flex-direction: column;
}

.resultsListContainer {
  border: 1px solid yellow;
  border-radius: var(--v-imageBorderRadius);
  padding: 20px;
  margin: 1rem;
  height: min-content;
  & h3 {
    font-size: clamp(16px, 2.2vw, 20px);
  }
  & .settingsPanel {
    width: 200px;
    box-sizing: border-box;
    padding: 8px 0;
    & .formControl {
      padding: 0.5em 0;
      color: yellowgreen;
      font-weight: bold;
      line-height: 1.1;
      display: flex;
      align-items: center;
      gap: 1em;
      font-size: clamp(16px, 2vw, 20px);
      &.disabled {
        color: gray;
      }
      & .totalNumber {
        color: yellow;
        font: 14px Arial, sans-serif;
        &.disabled {
          color: gray;
        }
      }
    }
  }
}
.radiobtn {
  & > input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #f5f5cc;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1em;
    height: 1em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
  }
}
.checkBox {
  & > input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);

    background-color: CanvasText;

    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }
}

.checkBox {
  & > input[type="radio"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
  }
}

.checkBox {
  & > input[type="radio"]:checked::before {
    transform: scale(1);
    background-color: yellowgreen;
  }
}

.checkBox {
  & > input[type="radio"]:disabled {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contentWrapper {
    flex-direction: row;
  }
}
