.searchPageContainer {
  padding: var(--v-space) 0;
}

.contentWrapper {
  padding: var(--v-space) 0;
  display: flex;
}

.resultsListContainer {
  width: 100%;
  border: 1px solid yellow;
  border-radius: var(--v-imageBorderRadius);
  & .settingsPanel {
    width: 300px;
    box-sizing: border-box;
    padding: 8px 0;
    list-style-type: none;
    & > li {
      color: yellow;
    }
  }
}
