@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap");

:root {
  --v-space: clamp(
    20px,
    2.2vw,
    30px
  ); /* space screen <1000px 20px, 30 / 1366 px (screen) * 100 = 2.2vw, screen >1334px 30px*/

  --v-maxPrimaryPageWidth: 1366px;

  --v-imageBorderRadius: 5px;

  --v-baseColor: yellow;
  --v-hoverColor: yellowgreen;
  --v-gray: gray;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #121210;
}
.open body {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  color: var(--v-baseColor);
}

p {
  color: white;
}

figure {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a,
u {
  text-decoration: none;
  color: var(--v-baseColor);
}

hr {
  color: var(--v-baseColor);
}

.wContainer {
  width: min(92%, 1366px);
  margin: auto;
}

.img {
  border-radius: var(--v-imageBorderRadius);
}
