@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap");

:root {
  --v-space: clamp(
    20px,
    2.2vw,
    30px
  ); /* space screen <1000px 20px, 30 / 1366 px (screen) * 100 = 2.2vw, screen >1334px 30px*/

  --v-maxPrimaryPageWidth: 1366px;

  --v-imageBorderRadius: 5px;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #121210;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  color: yellow;
}

p {
  color: white;
}

figure {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a,
u {
  text-decoration: none;
  color: yellow;
}

.wContainer {
  width: min(92%, 1366px);
  margin: auto;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #f5f5cc;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1em;
  height: 1em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);

  background-color: CanvasText;

  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="radio"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

input[type="radio"]:checked::before {
  transform: scale(1);
  background-color: yellowgreen;
}

input[type="radio"]:disabled {
  display: none;
}
